.login{
    padding: 1rem;
    position: relative;
    top: 6vh;
    height: 94%;
}

.test-data-container{
    background-color: rgb(227, 241, 250);
    border-radius: 15px;
    padding: 1rem 0 0.3rem;
    text-align: center;
}

.user-test-container{
    padding: 0 1rem;
    text-align: left;
}

.login-content{
    padding: 1rem;
    border-radius: 15px;
}

.login-content h3{
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.login-container{
    margin-top: 1rem;
}

.login-container input{
    border: none;
    outline: none;
    background-color: rgb(238, 238, 238);
    padding: 5px;
    width: 100%;
    margin-bottom: 1rem;
}

.login-container button{
    width: 100%;
    border: none;
    outline: none;
    padding: 5px;
    background-color: #D93F3F;
    color: white;
    font-weight: bold;
}

.login-container button:hover{
    cursor: pointer;
    background-color: #ec3131;
    transition: all 400ms ease;
}

.svg-desk-container{
    display: none;
}

.svg-container{
    width: 30%;
    margin-top: 1rem;
    margin-left: 35%;
}

.login-mobiile{
    width: 100%;
}

@media screen and (min-width: 768px){
    .login{
        top: 10vh;
        height: 90%;
        padding-top: 1rem;
        display: flex;
        justify-content: space-between;
    }

    .login-content{
        margin-top: 3rem;
        width: 40%;
        margin-left: 10%;
    }

    .svg-container{
        display: none;
    }

    .svg-desk-container{
        display: block;
        margin-top: 5rem;
        width: 35%;
        margin-right: 5rem;
    }

    .login-desk{
        width: 100%;
    }
}